.pg-container {
    .pg-top-content {
    }
    .pg-middle-content {
        margin: 0 auto;
        background: #f6fbf9 0% 0% no-repeat padding-box;
        min-height: calc(100vh - 183px);
    }
    .pg-bottom-content {
    }
}
